@import "bootstrap/scss/bootstrap";

.container-style{
  padding: 50px 0 60px 0;
  width: 796.5px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  font-family: inherit;
  h1{
    font-size: 30px;
    padding: 20px 0 10px 0;
  }

  h2 {
    padding: 40px 0px 10px 0px;
    font-size: 3em;
  }

  .form-control-style{
    height: 50px;
    font-size: 17px;
    background-color: #E8F0FE;
  }

  .alert-notice {
    @extend .alert-info;
  }

  .alert-alert {
    @extend .alert-danger;
  }
}
